@model UMS.Models.UsersModel

<h2>Create New Account</h2>
@Html.AntiForgeryToken()
<form asp-action="AddUser" method="post">
    <div class="form-group">
        <label asp-for="firstName">First Name</label>
        <input asp-for="firstName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="username">Username</label>
        <input asp-for="username" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="email">Email</label>
        <input asp-for="email" type="email" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create Account</button>
</form>