@model IEnumerable<UMS.Models.UsersModel>

<h1 class="mb-4">Users Page</h1>

<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="table-light">
            <tr>
                <th scope="col">First Name</th>
                <th scope="col">Username</th>
                <th scope="col">Email</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var user in Model)
                {
                    <tr>
                        <td>@user.firstName</td>
                        <td>@user.username</td>
                        <td>@user.email</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3" class="text-center">No users found.</td>
                </tr>
            }
        </tbody>
    </table>
</div>
